@import '../../../../../../assets/global-style/colors';

span {
    display: block;
}

.mainContainer {
    display: flex;
    flex-direction: column;

    .title {
        font-weight: 700;
        font-size: 30px;
        color: $accent-color;
        margin-bottom: 40px;
    }

    .container {
        display: flex;
        justify-content: space-between;

        .infoContainer {
            display: flex;
            flex-direction: column;
            width: calc(50% - 24px);
    
            .text {
                font-weight: 400;
                font-size: 17px;
                line-height: 32px;
                color: $text-color;
                margin-bottom: 32px;
            }

            .btnContainer {
                width: 186px;
            }

            .welcomeText {
                color: $text-color;
                font-size: 20px;
                font-weight: 500;
                line-height: 2em;
            }
        }
    
        .imgContainer {
            width: calc(50% - 24px);
    
            .image {
                width: 100%;
            }
        }
    }
}

.nonMainContainer {
    display: none;
}

@media screen and (min-width: 834px){
    .nonMainContainer {
        display: flex;
    }
}