.pageRoot {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .aboutContainer {
        min-width: 375px;
        padding: 176px 16px 56px;
    }
}

@media screen and (min-width: 950px) {
    .pageRoot {
        .aboutContainer {
            padding: 176px 50px 56px;
        }
    }
}

@media screen and (min-width: 1270px) {
    .pageRoot {
        .aboutContainer {
            width: 1170px;
            margin: 0 auto;
            padding: 176px 0 56px;
        }
    }
}