@import '../../assets/global-style/colors';

.colorsSection {
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .title {
        font-weight: 400;
        font-size: 20px;
        color: $text-color;
        margin-right: 16px;
    }

    .colorsContainer {
        display: flex;

        .color {
            width: 20px;
            height: 20px;
            border: 2px solid $border-color;
            border-radius: 50%;
            margin-right: 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.colorsSectionMain {
    display: flex;
    flex-direction: column;

    .title {
        font-weight: 500;
        font-size: 24px;
        color: $text-color;
        margin-bottom: 14px;
    }

    .colorsContainer {
        display: flex;

        .color {
            width: 40px;
            height: 40px;
            border: 2px solid $border-color;
            border-radius: 50%;
            margin-right: 14px;
            cursor: pointer;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                border: 4px solid $color-orange;
            }
        }

        .selected {
            border: 4px solid $color-orange;
        }
    }
}

@media screen and (min-width: 544px) {
    .colorsSectionMain {
        flex-direction: row;
        align-items: center;
    
        .title {
            margin-bottom: 0;
            margin-right: 24px;
        }
    }
}

@media screen and (min-width: 950px) {
    .colorsSectionMain {
        flex-direction: column;
        align-items: start;
    
        .title {
            margin-bottom: 14px;
            margin-right: 0;
        }
    }
}
