$color-black : #000000;

.mainContainer {
    display: none;
}

@media screen and (min-width: 834px){
    span {
        display: block;
    }
    
    .mainContainer {
        display: flex;
        flex-direction: column;

        .title {
            font-weight: 700;
            font-size: 30px;
            color: $color-black;
            margin-bottom: 40px;
        }

        .container {
            display: flex;
            justify-content: space-between;

            .infoContainer {
                display: flex;
                flex-direction: column;
                width: calc(50% - 24px);
        
                .text {
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 32px;
                    color: $color-black;
                    margin-bottom: 32px;
                }
            }
        
            .imgContainer {
                width: calc(50% - 24px);
        
                .image {
                    width: 100%;
                }
            }
        }
    }
}