.sizesSection {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    
    .title {
        font-weight: 500;
        font-size: 20px;
        color: #000000;
        margin-right: 8px;
    }

    .sizesContainer  {
        display: flex;

        .size {
            font-weight: 400;
            font-size: 20px;
            color: #000000;
            border-right: 1px solid #FF7A00;
            border-left: 1px solid #FF7A00;
            padding: 0 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.sizesSectionMain {
    display: flex;
    flex-direction: column;

    .title {
        font-weight: 500;
        font-size: 24px;
        color: #000000;
        margin-bottom: 14px;
    }

    .sizesContainer  {
        display: flex;

        .size {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            font-weight: 500;
            font-size: 17px;
            color: #000000;
            border: 2px solid #737373;
            margin-right: 14px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:last-child {
                margin-right: 0;
            }

            &:hover {
                background-color: #FF7A00;
                color: #ffffff;
            }
        }

        .selected {
            background-color: #FF7A00;
            color: #ffffff;
        }
    }
}

@media screen and (min-width: 544px) {
    .sizesSectionMain {
        flex-direction: row;
        align-items: center;
    
        .title {
            margin-bottom: 0;
            margin-right: 24px;
        }
    }
}

@media screen and (min-width: 950px) {
    .sizesSectionMain {
        flex-direction: column;
        align-items: start;
    
        .title {
            margin-bottom: 14px;
            margin-right: 0;
        }
    }
}
